*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/app/mirror/
.DS_Store
/build
/captures
/radle
.externalNativeBuild
\.idea/
app/app-debug\.apk
keystore\.properties
/PackExclusionFile
app/libs/
/app/app-release.apk
app/app-release.apk
app/app-release.jobf
/app/pack_exporter/ExportedModulePackClasses/
!/app/build/outputs/mapping/release/mapping.txt

app/SnapTools-Beta\.apk

app/SnapTools-Beta\.jobf

app/release/output\.json

app/release/SnapTools-Beta\.apk

app/release/SnapTools-Beta\.jobf

app/release/SnapTools-Alpha\.apk
/app/beta/
/app/prod/
